.info-cards {
  width: 100%;
  height: 318px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 15px;
  background-color: white;
  border: 1px solid #9e1460;
  border-radius: 9px;
  position: relative;
  -webkit-box-shadow: 17px 24px 97px -7px rgba(135, 132, 135, 0.25);
  -moz-box-shadow: 17px 24px 97px -7px rgba(135, 132, 135, 0.25);
  box-shadow: 17px 24px 97px -7px rgba(135, 132, 135, 0.25);
  .img {
    width: 33%;
    height: 9rem;
    margin: 20px 0;
    display: flex;
    justify-content: center;
    align-items: center;
    img {
      height: 100%;
    }
  }
  .description {
    width: 100%;
    height: 125px;
    padding-left: 8px;
    padding-right: 8px;
    h2 {
      font-size: 0.8rem;
      font-weight: bold;
      margin-bottom: 0.3rem;
    }
    h3 {
      font-size: 0.8rem;
      height: 33px;
      margin-bottom: 0.3rem;
    }
    .price-container {
      display: flex;
      justify-content: space-around;
      align-items: center;
      .content {
        width: 37px;
        height: 20px;
        font-size: 0.7rem;
        color: white;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: #9e1460;
      }
      .price-info {
        font-weight: bold;
        font-size: 1.1rem;
      }
    }
  }
}
