.btn-up {
  width: 38px;
  height: 38px;
  position: fixed;
  bottom: 34px;
  left: 17px;
  z-index: 15;
  button {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    background-color: #9e1460;
    border: 1px solid white;
    outline: none;
    svg {
      height: 18px;
      width: 18px;
      margin: auto;
      transform: rotateX(180deg);
      .st0 {
        fill: white;
      }
    }
  }
}
