.carousel {
  width: 86%;
  margin: 5px auto;
  border-radius: 20px;
  overflow: hidden;
  .carousel-inner {
    height: 100%;
    width: 100%;
    .carousel-item {
      height: 100%;
      img {
        width: 100%;
      }
    }
  }
}
@media (min-width: 320px) {
  
}
@media (min-width: 375px) {
  
}
@media (min-width: 424px) {
  
}
@media (min-width: 768px) {
  
}

@media (min-width: 1024px) {
  
}
