// Barra de herramientas de la sección de tienda
.bartools {
  width: 100%;
  height: 40px;
  border-top: 1px solid #9e1460;
  border-bottom: 1px solid #9e1460;
  margin: 0 0 10px 0;
  display: flex;
  align-items: center;
  position: relative;
  .tools,
  .btn-views {
    height: 100%;
  }
  .tools {
    height: 50%;
    width: 65%;
    display: flex;
    margin-left: 15px;
    .filter,
    .sort {
      display: flex;
      span {
        height: 100%;
        width: 14%;
        display: flex;
        svg {
          width: 100%;
          height: auto;
          .st0 {
            fill: #9e1460;
          }
        }
      }
      h3 {
        width: 70%;
        font-size: 0.9rem;
        margin: 0 0 0 5px;
        color: #9e1460;
        font-weight: bold;
        display: flex;
        align-items: center;
      }
    }
    .filter {
      width: 35%;
      span {
        width: 30%;
        span {
          width: 100%;
        }
      }
    }
    .sort {
      width: 62%;
      span {
        svg {
          height: 100%;
        }
      }
    }
  }
  .btn-views {
    width: 23%;
    position: absolute;
    right: 13px;
    top: 0;
    display: flex;
    button {
      width: 50%;
      height: 100%;
      border: none;
      background-color: transparent;
      svg {
        width: 60%;
        .st0 {
          fill: #9e1460;
        }
      }
    }
  }
}

// Boton activo
.btn1-is-active {
  .btn-grid {
    background-color: #9e1460 !important;
    svg {
      .st0 {
        fill: white !important;
      }
    }
  }
  .btn-list {
    background-color: white !important;
    svg {
      .st0 {
        fill: #9e1460 !important;
      }
    }
  }
}
.btn2-is-active {
  .btn-grid {
    background-color: white !important;
    svg {
      .st0 {
        fill: #9e1460 !important;
      }
    }
  }
  .btn-list {
    background-color: #9e1460 !important;
    svg {
      .st0 {
        fill: white !important;
      }
    }
  }
}

@media (min-width: 768px) {
  .bartools {
    display: none;
  }
}

@import './Item/item'