.list-products {
  margin-bottom: 15px;
  font-size: 0.9rem;
}
.grid-products {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 10px;
  width: 94%;
  margin: 15px auto;
}
.banner-store {
  height: 9rem;
  margin: 10px auto 0 auto;
  background-color: #fcd3db;
  display: flex;
  align-items: flex-end;
  position: relative;
  width: 100%;
  img {
    margin-left: 23px;
    height: 92%;
  }
  .message {
    position: absolute;
    width: 46%;
    right: 19px;
    top: 11px;
    text-align: center;
    line-height: 20px;
    font-weight: bold;
  }
  button {
    width: 102px;
    height: 25px;
    position: absolute;
    bottom: 12px;
    right: 41px;
    border: none;
    background-color: #9e1460;
    color: white;
    font-size: 0.8rem;
  }
}
.container-categories {
  height: 40px;
  border: none;
  border-left: 1px solid #9e1460;
  border-right: 1px solid #9e1460;
  border-top: 1px solid #9e1460;
  display: flex;
  align-items: center;
  button {
    margin-left: 14px;
    border: none;
    background-color: #9e1460;
    width: 44%;
    height: 80%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    outline: none;
    padding-left: 8px;
  }
}

@media (min-width: 320px) {
}
@media (max-width: 375px) {
}
@media (min-width: 425px) {
}
@media (max-width: 768px) {
  .container-store {
    min-height: 13rem;
    .category-routes {
      display: none;
    }
  }
}
@media (min-width: 768px) {
  .banner-store {
    border-bottom: 1px solid #9e1460;
  }
  .grid-products {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
  .container-categories {
    display: none;
  }
  .container-store {
    display: flex;
    width: 100%;
    min-height: 22rem;
    .category-routes {
      display: flex;
      width: 26%;
      border-right: 1px solid #9e1460;
    }
    .grid-products {
      width: 69%;
    }
  }
}

@media (min-width: 1024px) {
  .grid-products {
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  }
}
@media (min-width: 1348px) {
  .grid-products {
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    margin: auto auto;
  }
}

// IMPORTS //
@import "./modules/bartools";
@import "./modules/AddCart/add-cart";
