.news-banner {
  width: 100%;
  height: 62px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #eb3699;

  p {
    width: 90%;
    margin: 0 auto;
    text-align: center;
    color: white;
  }
}

header {
  width: 100%;
  background: #ffffff;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;

  .header-container {
    width: 92%;
    height: 4rem;
    display: flex;
    justify-content: center;
    align-items: center;

    button {
      height: 100%;
      width: 15%;
      border: none;
      background: transparent;
      display: flex;
      justify-content: center;
      align-items: center;

      svg {
        width: 60%;
      }
    }

    a {
      .logo {
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 0 10px;

        svg {
          height: 100%;
          width: 100%;
        }
      }
    }
  }
}
// _________________________ //
// _____ MEDIA QUERIES _____ //

@media (min-width: 320px) {
}
@media (max-width: 375px) {
}
@media (min-width: 768px) {
  header {
    flex-direction: column;
    .header-container {
      justify-content: flex-end;
      height: 5rem;
      .header-close {
        display: none;
      }
      button {
        width: 7%;
      }
      a {
        .logo {
          position: absolute;
          left: 52px;
          top: 0;
          width: 131px;
          height: 60%;
        }
      }
    }
  }
}

// ___________________ //
// _____ IMPORTS _____ //

@import "./components/SearchBar/searchbar";
@import "./components/menu-nav";
