.news-banner {
  width: 100%;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #eb3699;
  p {
    width: 90%;
    margin: 0 auto;
    text-align: center;
    color: white;
    font-size: 10px;
  }
}

header {
  width: 100%;
  height: 57px;
  background: #9e1460;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  .header-close {
    width: 39px;
    height: 39px;
    left: 15px;
    position: absolute;
    top: 10px;
    border: none;
    background-color: transparent;
    display: grid;
    place-content: center;
    svg {
      .st0 {
        fill: white;
      }
    }
  }
  a {
    width: 128px;
    height: 38px;
    position: absolute;
    top: 13%;
    z-index: 5;
    .logo {
      width: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      margin: 0;
      svg {
        height: 100%;
        width: 100%;
        .st0 {
          fill: white;
        }
      }
    }
  }
  .header-container {
    width: 124px;
    height: 28px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    right: 46px;
    top: 9%;
    z-index: 5;
    button {
      height: 100%;
      width: 33.3%;
      border: none;
      background: transparent;
      display: flex;
      justify-content: center;
      align-items: center;

      svg {
        width: 60%;
        .st0 {
          fill: white;
        }
      }
    }
  }
}
// _________________________ //
// _____ MEDIA QUERIES _____ //

@media (max-width: 375px) {
  header {
    a {
      left: 17%;
      .logo {
        top: 0;
      }
    }
    .header-container {
      width: 109px;
      right: 7px;
      top: 25%;
    }
  }
}
@media (max-width: 425px) {
  header {
    a {
      left: 66px;
      width: 111px;
      top: 19%;
      .logo {
      }
    }
    .header-container {
      top: 25%;
      right: 10px;
    }
  }
}
@media (min-width: 768px) {
  header {
    height: 75px;
    flex-direction: column;
    .header-close {
      display: none;
    }
    a {
      left: 4rem;
      width: 125px;
      top: 16px;
    }
    .header-container {
      right: 27px;
      top: 28%;
    }
  }
}
@media (min-width: 1024px) {
  header {
    a {
      left: 106px;
      width: 131px;
      top: 16px;
      .logo {
        top: 0;
      }
    }
    .header-container {
      right: 99px;
      top: 13px;
    }
  }
}
@media (min-width: 1348px) { 
  header {
    a {
      left: 180px
    }
    .header-container {
      right: 164px;
    }
  }
}
// ___________________ //
// _____ IMPORTS _____ //

@import "./components/SearchBar/searchbar";
@import "./components/menu-nav";
