@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap");
* {
  margin: 0;
  padding: 0;
  font-family: 'Quicksand', sans-serif;
  font-size: 16px;
  font-weight: 500; }

.App {
  width: 100%;
  height: 100vh; }

.menu-open {
  overflow: hidden; }

form,
.login-google {
  width: 100%; }

.signin {
  height: 42%; }
  .signin ul {
    padding: 0; }

form {
  margin-top: 12px; }
  form ul {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center; }
    form ul li {
      width: 90%;
      list-style-type: none; }
    form ul .input,
    form ul .password {
      height: 56px;
      display: flex;
      border-bottom: 1px solid #9b9b9b;
      color: #9b9b9b;
      font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; }
      form ul .input span,
      form ul .password span {
        width: 10%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        border: none; }
        form ul .input span svg .st0,
        form ul .password span svg .st0 {
          fill: #9b9b9b; }
      form ul .input input,
      form ul .password input {
        width: 90%;
        height: 100%;
        outline: none;
        padding-left: 6px;
        border: none; }
    form ul .email span svg {
      height: 38%; }
    form ul .password span svg {
      height: 45%; }
    form ul .forgot-password {
      height: 1.5rem;
      display: flex;
      justify-content: flex-end;
      font-size: 0.9rem;
      color: #232025;
      font-weight: 500;
      margin: 21px 0; }
    form ul .btn {
      height: 52px; }
      form ul .btn input {
        height: 100%;
        width: 100%;
        border-radius: 4px;
        border: 1px solid #9E1460;
        color: #9E1460;
        background-color: white;
        cursor: pointer; }

h6 {
  width: 100%;
  height: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 0.8rem; }

.login-google {
  height: 52px;
  display: flex;
  justify-content: center; }
  .login-google button {
    width: 90%;
    height: 100%;
    background-color: white;
    border-radius: 4px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #606060; }
    .login-google button svg {
      width: 12%;
      height: 65%; }
    .login-google button span {
      width: 66%;
      color: #606060; }

.login-message {
  width: 100%;
  height: 11%;
  display: flex;
  align-items: center;
  margin-top: 14px; }
  .login-message p {
    display: flex;
    justify-content: center;
    width: 100%;
    height: 1.5rem; }
    .login-message p span {
      margin-left: 7px;
      font-weight: bold; }

@media (max-width: 375px) {
  .auth-form {
    width: 77%;
    margin: 25px auto; } }

.signup-form {
  height: 57%; }
  .signup-form .conditions {
    height: 1.5rem;
    display: flex;
    justify-content: flex-start;
    font-size: 0.9rem;
    color: #156D99;
    margin: 10px 0; }
    .signup-form .conditions:hover,
    .signup-form .conditions input {
      cursor: pointer; }
    .signup-form .conditions:hover {
      text-decoration: underline; }
    .signup-form .conditions input {
      margin: 0 8px; }

.auth-form {
  display: flex;
  flex-direction: column;
  width: 19rem;
  margin: 5px auto 30px auto; }
  .auth-form .logo-login {
    width: 73%;
    height: 15%;
    margin: 0 auto; }
    .auth-form .logo-login img {
      width: 100%; }
  .auth-form .btn-options {
    width: 88%;
    height: 44px;
    padding: 0;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center; }
    .auth-form .btn-options li {
      width: 49%;
      height: 100%;
      list-style: none;
      display: flex;
      justify-content: space-between;
      border-radius: 4px; }
      .auth-form .btn-options li button {
        width: 100%;
        height: 100%;
        cursor: pointer;
        border: 1px solid #9e1460;
        background-color: transparent; }
  .auth-form h2 {
    width: 100%;
    height: 5%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.2rem;
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 400;
    color: #343a40;
    font-weight: bold; }

.active-btn-auth:first-child {
  background-color: #9e1460; }
  .active-btn-auth:first-child button {
    color: white; }

.active-btn-auth:last-child {
  background-color: transparent; }
  .active-btn-auth:last-child button {
    color: #232025; }

.non-active-btn-auth:first-child {
  background-color: transparent; }
  .non-active-btn-auth:first-child button {
    color: #232025; }

.non-active-btn-auth:last-child {
  background-color: #9e1460; }
  .non-active-btn-auth:last-child button {
    color: #fff; }

.btn-whatsapp {
  width: 56px;
  height: 56px;
  position: fixed;
  bottom: 25px;
  right: 17px;
  z-index: 15; }
  .btn-whatsapp button {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    border: none;
    background-color: #075e54; }
    .btn-whatsapp button svg {
      width: 58%;
      margin-right: -1px; }
      .btn-whatsapp button svg .st01 {
        fill: white; }
      .btn-whatsapp button svg .st02 {
        fill: #075e54; }

.btn-up {
  width: 38px;
  height: 38px;
  position: fixed;
  bottom: 34px;
  left: 17px;
  z-index: 15; }
  .btn-up button {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    background-color: #9e1460;
    border: 1px solid white;
    outline: none; }
    .btn-up button svg {
      height: 18px;
      width: 18px;
      margin: auto;
      transform: rotateX(180deg); }
      .btn-up button svg .st0 {
        fill: white; }

.container-content {
  margin: 0 auto 17px auto !important; }
  .container-content ul {
    padding: 0; }

.news-banner {
  width: 100%;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #eb3699; }
  .news-banner p {
    width: 90%;
    margin: 0 auto;
    text-align: center;
    color: white;
    font-size: 10px; }

header {
  width: 100%;
  height: 57px;
  background: #9e1460;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative; }
  header .header-close {
    width: 39px;
    height: 39px;
    left: 15px;
    position: absolute;
    top: 10px;
    border: none;
    background-color: transparent;
    display: grid;
    place-content: center; }
    header .header-close svg .st0 {
      fill: white; }
  header a {
    width: 128px;
    height: 38px;
    position: absolute;
    top: 13%;
    z-index: 5; }
    header a .logo {
      width: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      margin: 0; }
      header a .logo svg {
        height: 100%;
        width: 100%; }
        header a .logo svg .st0 {
          fill: white; }
  header .header-container {
    width: 124px;
    height: 28px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    right: 46px;
    top: 9%;
    z-index: 5; }
    header .header-container button {
      height: 100%;
      width: 33.3%;
      border: none;
      background: transparent;
      display: flex;
      justify-content: center;
      align-items: center; }
      header .header-container button svg {
        width: 60%; }
        header .header-container button svg .st0 {
          fill: white; }

@media (max-width: 375px) {
  header a {
    left: 17%; }
    header a .logo {
      top: 0; }
  header .header-container {
    width: 109px;
    right: 7px;
    top: 25%; } }

@media (max-width: 425px) {
  header a {
    left: 66px;
    width: 111px;
    top: 19%; }
  header .header-container {
    top: 25%;
    right: 10px; } }

@media (min-width: 768px) {
  header {
    height: 75px;
    flex-direction: column; }
    header .header-close {
      display: none; }
    header a {
      left: 4rem;
      width: 125px;
      top: 16px; }
    header .header-container {
      right: 27px;
      top: 28%; } }

@media (min-width: 1024px) {
  header a {
    left: 106px;
    width: 131px;
    top: 16px; }
    header a .logo {
      top: 0; }
  header .header-container {
    right: 99px;
    top: 13px; } }

@media (min-width: 1348px) {
  header a {
    left: 180px; }
  header .header-container {
    right: 164px; } }

.search-bar {
  width: 100%;
  height: 100vh;
  position: absolute;
  z-index: 8;
  left: 0;
  top: 69px;
  background: #ffffffd1;
  display: flex;
  justify-content: center; }
  .search-bar .search {
    width: 77%;
    height: 3rem;
    background-color: blue;
    margin-top: 18px;
    top: 0; }
    .search-bar .search input {
      width: 95%;
      height: 100%;
      padding-left: 10px;
      outline: none;
      border: 1px solid #9E1460; }
  .search-bar .close-button {
    width: 30px;
    height: 30px;
    position: absolute;
    top: 74px;
    margin: 0 auto;
    background-color: #9E1460;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%; }
    .search-bar .close-button button {
      width: 100%;
      height: 100%;
      color: white; }

.isSearchActive {
  display: flex; }

.isSearchNonActive {
  display: none; }

@media (max-width: 768px) {
  .menu-nav-desktop {
    display: none; } }

@media (min-width: 768px) {
  .menu-nav-desktop {
    height: 40px;
    width: 100%;
    position: absolute;
    bottom: 0px;
    display: flex;
    justify-content: center; }
    .menu-nav-desktop ul {
      width: 55%;
      height: 100%;
      margin: 0 auto;
      display: flex;
      justify-content: space-between;
      align-items: center; }
      .menu-nav-desktop ul li {
        width: 19%;
        height: 100%;
        list-style-type: none; }
        .menu-nav-desktop ul li a {
          color: white;
          width: 100%;
          height: 100%;
          display: flex;
          justify-content: center;
          align-items: center;
          text-decoration: none;
          position: inherit; }
          .menu-nav-desktop ul li a:hover {
            font-weight: bold;
            cursor: pointer; } }

.navbar-mobile {
  width: 37rem;
  height: 100vh;
  background-color: rgba(255, 255, 255, 0.473);
  position: absolute;
  left: 0;
  top: 0;
  z-index: 20; }
  .navbar-mobile nav {
    width: 90%;
    height: 100%;
    background-color: #9e1460;
    position: relative;
    padding-top: 11px; }
    .navbar-mobile nav .btn-close {
      width: 2rem;
      height: 2rem;
      position: absolute;
      display: flex;
      justify-content: center;
      align-items: center;
      top: 5px;
      right: 5px; }
      .navbar-mobile nav .btn-close button {
        border: none;
        background-color: transparent;
        color: white;
        font-size: 1.1rem; }
    .navbar-mobile nav .login {
      width: 90%;
      height: 9%;
      margin: 0 auto;
      padding-left: 20px;
      display: flex;
      align-items: center; }
      .navbar-mobile nav .login a {
        width: 80%;
        height: 60%;
        display: flex;
        align-items: center;
        text-decoration: none; }
        .navbar-mobile nav .login a span,
        .navbar-mobile nav .login a h2 {
          height: 60%;
          display: flex;
          align-items: center; }
        .navbar-mobile nav .login a span {
          width: 5%;
          margin-right: 8px; }
          .navbar-mobile nav .login a span svg .st0 {
            fill: white; }
        .navbar-mobile nav .login a h2 {
          color: white; }
    .navbar-mobile nav menu {
      width: 100%;
      height: 100%;
      margin: auto 0; }
      .navbar-mobile nav menu ul {
        width: 90%;
        height: 85%;
        margin: auto;
        display: flex;
        flex-direction: column;
        padding-top: 14px; }
        .navbar-mobile nav menu ul li {
          width: 100%;
          height: 9%;
          list-style-type: none;
          border-bottom: 1px solid white;
          margin-bottom: 5px; }
          .navbar-mobile nav menu ul li a {
            width: 100%;
            height: 100%;
            text-decoration: none;
            display: flex;
            align-items: center; }
            .navbar-mobile nav menu ul li a h2,
            .navbar-mobile nav menu ul li a span {
              height: 52%; }
            .navbar-mobile nav menu ul li a h2 {
              width: 93%;
              color: white; }
            .navbar-mobile nav menu ul li a span {
              display: flex;
              justify-content: center;
              align-items: center; }
              .navbar-mobile nav menu ul li a span svg {
                transform: rotate(270deg); }

.isActive {
  max-width: 100%;
  transition: 0.3s; }
  .isActive nav menu .login h2,
  .isActive nav menu .login span {
    transition: 0.3s; }
  .isActive nav menu .login h2 {
    font-size: 1rem; }
  .isActive nav menu .login span {
    width: 7%; }
  .isActive nav menu ul li h2,
  .isActive nav menu ul li svg {
    transition: 0.3s; }
  .isActive nav menu ul li h2 {
    font-size: 1rem; }
  .isActive nav menu ul li span svg {
    width: 100%; }

.isNonActive {
  max-width: 0;
  transition: 0.3s; }
  .isNonActive nav menu .login a h2,
  .isNonActive nav menu .login a span {
    transition: 0.3s; }
  .isNonActive nav menu .login a h2 {
    font-size: 0;
    transition: 0.3s; }
  .isNonActive nav menu .login a span {
    width: 0; }
  .isNonActive nav menu ul {
    padding: 0; }
    .isNonActive nav menu ul li h2,
    .isNonActive nav menu ul li svg {
      transition: 0.3s; }
    .isNonActive nav menu ul li h2 {
      font-size: 0; }
    .isNonActive nav menu ul li svg {
      width: 0; }

.subtitle {
  width: 100%;
  height: 55px;
  margin: 25px 0; }
  .subtitle h2 {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-size: 17px;
    color: #660d6e;
    margin: 0; }

.banner-icons {
  width: 100%;
  height: 80px;
  margin: 10px 0; }
  .banner-icons ul {
    width: 86%;
    height: 100%;
    padding: 0;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    justify-content: space-around; }
    .banner-icons ul li {
      height: 100%;
      width: 30%;
      list-style: none;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center; }
      .banner-icons ul li h2 {
        width: 100%;
        height: 43%;
        margin-top: 8px;
        font-size: 0.8rem;
        color: #660d6e;
        text-align: center; }

.nails-banner {
  width: 100%;
  height: 92px;
  margin-bottom: 15px;
  display: flex;
  justify-content: flex-end; }
  .nails-banner img {
    height: 100%; }

.translate {
  transform: translate(-1px, 0px);
  width: 120%; }

.carousel {
  width: 86%;
  margin: 5px auto;
  border-radius: 20px;
  overflow: hidden; }
  .carousel .carousel-inner {
    height: 100%;
    width: 100%; }
    .carousel .carousel-inner .carousel-item {
      height: 100%; }
      .carousel .carousel-inner .carousel-item img {
        width: 100%; }

.cards-opinion .title {
  padding-left: 14px;
  padding-right: 14px; }

.cards-opinion .card-opinion {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column; }
  .cards-opinion .card-opinion .card {
    width: 100%;
    height: 14rem;
    display: flex;
    flex-direction: column;
    position: relative;
    margin-top: 20px;
    border: none;
    background-color: transparent; }
    .cards-opinion .card-opinion .card .comillas-top {
      width: 42px;
      height: 47px;
      position: absolute;
      display: flex;
      justify-content: center;
      align-items: center;
      top: 40px;
      left: 7%;
      z-index: 10; }
    .cards-opinion .card-opinion .card .comillas-bottom {
      width: 42px;
      height: 47px;
      position: absolute;
      z-index: 10;
      bottom: -6px;
      right: 20px;
      display: flex;
      justify-content: center;
      align-items: center;
      transform: rotate(-180deg); }
    .cards-opinion .card-opinion .card .empty,
    .cards-opinion .card-opinion .card .message-container {
      width: 100%; }
    .cards-opinion .card-opinion .card .empty {
      height: 12%;
      position: relative; }
      .cards-opinion .card-opinion .card .empty .user-comments {
        left: 39%;
        top: 2px;
        width: 70px;
        border-radius: 50%;
        z-index: 10;
        position: absolute;
        overflow: hidden; }
        .cards-opinion .card-opinion .card .empty .user-comments img {
          width: 100%; }
    .cards-opinion .card-opinion .card .message-container {
      height: 90%;
      display: flex;
      justify-content: center;
      align-items: center;
      margin-top: 20px; }
      .cards-opinion .card-opinion .card .message-container .message {
        width: 85%;
        height: 80%;
        background-color: #fcd3db;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: flex-end;
        border-radius: 50px;
        background: #fcd3db;
        box-shadow: 26px 26px 53px #d6b3ba, -26px -26px 53px #fff3fc; }
        .cards-opinion .card-opinion .card .message-container .message p {
          width: 80%;
          height: 60%;
          font-size: 0.9rem;
          text-align: center;
          margin: 0; }
        .cards-opinion .card-opinion .card .message-container .message .name {
          height: 24%;
          display: flex;
          align-items: center;
          justify-content: center;
          font-weight: bold; }

.cards-opinion .btn-seemore {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 64px;
  margin: 37px auto;
  position: relative; }
  .cards-opinion .btn-seemore button {
    height: 100%;
    width: 132px;
    border: none;
    background-color: #9e1460;
    color: white;
    position: absolute;
    bottom: 0;
    border-radius: 6px; }

.buy-container {
  height: 16rem !important; }
  .buy-container .buy-info {
    width: 90% !important;
    margin: 11px auto 0 auto !important;
    display: grid !important;
    grid-template-columns: 1fr 1fr;
    grid-gap: 10px; }
    .buy-container .buy-info li {
      width: 100%;
      list-style: none; }
      .buy-container .buy-info li button {
        width: 100%;
        height: 100%;
        border: none;
        background-color: transparent; }
        .buy-container .buy-info li button .info {
          font-size: 0.7rem;
          margin-top: 5px;
          font-weight: bold; }

.container-title {
  display: flex;
  width: 77%;
  margin: 0 auto;
  align-items: center;
  justify-content: center; }
  .container-title svg {
    margin-right: 10px; }
  .container-title .title {
    text-align: left;
    width: 62%; }

.products-container {
  height: 22rem !important;
  width: 94% !important;
  position: relative !important; }
  .products-container .offers {
    width: 90% !important;
    margin: 0 auto;
    height: 339px;
    display: flex;
    margin-bottom: 26px;
    flex-direction: row !important;
    justify-content: space-between; }

.buttons {
  width: 100%;
  height: 55px;
  position: absolute;
  bottom: 41%;
  display: flex;
  justify-content: space-between; }
  .buttons button {
    width: 55px;
    height: 100%;
    border-radius: 50%;
    border: none;
    background-color: #eb369a6c; }
    .buttons button:first-child {
      transform: rotate(90deg); }
    .buttons button:last-child {
      transform: rotate(-90deg); }
    .buttons button svg {
      height: 3rem;
      width: 16px; }

.info-cards {
  width: 48%;
  height: 318px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 15px;
  background-color: white;
  border: 1px solid #9e1460;
  border-radius: 9px;
  position: relative;
  -webkit-box-shadow: 17px 24px 97px -7px rgba(135, 132, 135, 0.25);
  -moz-box-shadow: 17px 24px 97px -7px rgba(135, 132, 135, 0.25);
  box-shadow: 17px 24px 97px -7px rgba(135, 132, 135, 0.25); }
  .info-cards .img {
    width: 33%;
    height: 9rem;
    margin: 20px 0;
    display: flex;
    justify-content: center;
    align-items: center; }
    .info-cards .img img {
      height: 100%; }
  .info-cards .description {
    width: 100%;
    height: 125px;
    padding-left: 8px;
    padding-right: 8px; }
    .info-cards .description h2 {
      font-size: 0.8rem;
      font-weight: bold;
      margin-bottom: 0.3rem; }
    .info-cards .description h3 {
      font-size: 0.8rem;
      height: 33px;
      margin-bottom: 0.3rem; }
    .info-cards .description .price-container {
      display: flex;
      justify-content: space-around;
      align-items: center; }
      .info-cards .description .price-container .content {
        width: 37px;
        height: 20px;
        font-size: 0.7rem;
        color: white;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: #9e1460; }
      .info-cards .description .price-container .price-info {
        font-weight: bold;
        font-size: 1.1rem; }

footer {
  height: 480px;
  width: 100%;
  background-color: #9e1460;
  display: flex;
  flex-direction: column; }
  footer .subscribe-form {
    width: 100%;
    height: 40%;
    margin-top: 16px;
    display: flex;
    justify-content: center;
    align-items: center; }
    footer .subscribe-form form {
      height: 100%; }
      footer .subscribe-form form h4,
      footer .subscribe-form form ul {
        width: 100%;
        padding: 0; }
      footer .subscribe-form form h4 {
        height: 27%;
        display: flex;
        justify-content: center;
        text-align: center;
        font-size: 15px;
        color: white;
        margin-bottom: 8px; }
      footer .subscribe-form form ul {
        height: 46%;
        padding: 0; }
        footer .subscribe-form form ul li {
          height: 27px;
          width: 100%;
          list-style: none;
          margin-top: 5px; }
          footer .subscribe-form form ul li input {
            width: 100%;
            height: 100%;
            border: none;
            border-bottom: 1px solid white;
            background-color: transparent;
            color: white;
            outline: none; }
            footer .subscribe-form form ul li input::placeholder {
              color: white;
              font-size: 14px; }
        footer .subscribe-form form ul .submit {
          display: flex;
          justify-content: center;
          margin-top: 14px;
          height: 35px; }
          footer .subscribe-form form ul .submit input {
            width: 60%;
            height: 100%;
            background-color: white;
            color: #9e1460;
            font-weight: bold; }
  footer .nav {
    width: 78%;
    height: 34%;
    margin: 0 auto;
    color: white; }
    footer .nav h3,
    footer .nav ul > li {
      font-size: 14px; }
    footer .nav h3 {
      width: 100%;
      height: 20%; }
    footer .nav ul {
      width: 100%;
      height: 100;
      padding: 0; }
      footer .nav ul li {
        width: 100%;
        list-style: none;
        padding-left: 14px;
        margin-top: 10px; }
  footer .logo-footer {
    width: 40%;
    height: 16%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center; }
    footer .logo-footer svg .st0 {
      fill: white; }
    footer .logo-footer p {
      width: 100%;
      height: 20%;
      font-size: 14px;
      color: white;
      display: flex;
      justify-content: center;
      align-items: center;
      margin-top: 4px; }

@media (min-width: 320px) {
  footer .subscribe-form form {
    width: 18rem; } }

@media (max-width: 375px) {
  footer .subscribe-form form {
    width: 85%; }
    footer .subscribe-form form h4 {
      height: 20%; }
      footer .subscribe-form form h4 h3 {
        display: flex;
        justify-content: center;
        align-items: center; }
  footer .nav {
    width: 85%; } }

@media (min-width: 768px) {
  footer {
    height: 249px;
    flex-direction: row-reverse; }
    footer .subscribe-form {
      height: 80%; }
    footer .nav {
      height: 100%;
      display: flex;
      justify-content: center;
      flex-direction: column; }
      footer .nav h3, footer .nav ul {
        width: 46%;
        margin: 0 auto; }
      footer .nav h3 {
        height: 8%; }
      footer .nav ul {
        padding: 0; }
    footer .logo-footer {
      margin: auto 52px; } }

.detail {
  width: 100%; }
  .detail .route {
    width: 100%;
    height: 20px;
    display: flex;
    margin: 5px 15px;
    align-items: center;
    font-size: 12px; }
  .detail .title {
    margin: 0;
    width: 90%;
    height: 38px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #9e1460;
    font-weight: 600;
    font-size: 20px; }
  .detail .info {
    height: 100%;
    width: 100%; }
  .detail .photo {
    width: 80%;
    padding: 20px;
    margin: 0 auto;
    border: 1px solid #9e1460;
    display: flex;
    justify-content: center; }
    .detail .photo img {
      height: 17rem;
      width: auto; }
  .detail .info {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between; }
    .detail .info .rows {
      width: 88%;
      height: 13%;
      color: #3f3844; }
    .detail .info .r1 {
      height: 10%;
      font-weight: bold;
      margin: 9px 0px; }
    .detail .info .r2 {
      height: 9%;
      display: flex;
      flex-direction: column; }
      .detail .info .r2 h6 {
        height: 50%;
        width: 100%;
        display: flex;
        align-items: center; }
    .detail .info .r3 {
      height: 8%;
      display: flex; }
      .detail .info .r3 .container-star {
        width: 38%; }
    .detail .info .r4 {
      display: flex;
      flex-direction: column;
      align-items: center;
      text-align: center; }
      .detail .info .r4 h6 {
        height: 100%;
        display: flex;
        align-items: center;
        color: #232025; }
      .detail .info .r4 .price {
        font-size: 37px; }
    .detail .info .r5 {
      height: 24%;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      margin-top: 14px; }
      .detail .info .r5 h5,
      .detail .info .r5 h6,
      .detail .info .r5 .container-button {
        display: flex;
        align-items: center;
        justify-content: center;
        margin-bottom: 15px; }
      .detail .info .r5 h5 {
        height: 25%;
        font-size: 0.98rem; }
      .detail .info .r5 .container-button {
        height: 50%; }
        .detail .info .r5 .container-button button {
          width: 56px;
          height: 44px;
          border: 1px solid #9e1460;
          background-color: white;
          color: #232025;
          border-radius: 4px;
          cursor: pointer; }
    .detail .info .r6 {
      height: 36px;
      width: 83%;
      display: flex;
      margin: 20px 0; }
      .detail .info .r6 .label {
        width: 72%;
        display: flex;
        align-items: center;
        margin-right: 5px;
        font-size: 12px; }
      .detail .info .r6 button {
        width: 146px;
        border: 1px solid #9e1460;
        border-radius: 4px;
        color: #9e1460;
        background-color: white;
        cursor: pointer; }
    .detail .info .r7 {
      display: flex;
      justify-content: center;
      margin-top: 29px;
      width: 80%;
      height: 46px;
      margin: 5px 0;
      position: relative; }
      .detail .info .r7 .add-cart {
        width: 92%;
        height: 40px;
        margin: 0px 4%;
        position: absolute;
        top: 4px;
        left: 0; }
        .detail .info .r7 .add-cart .add-cart-btn {
          width: 63%;
          border-radius: 4px; }
        .detail .info .r7 .add-cart .counter {
          width: 34%; }
    .detail .info .detail-info {
      width: 82%;
      margin-bottom: 20px; }
      .detail .info .detail-info h3 {
        width: 100%;
        height: 48px;
        display: flex;
        justify-content: space-between; }
        .detail .info .detail-info h3 button {
          width: 121px;
          border: 1px solid #9e1460;
          color: #3f3844;
          background-color: white;
          font-size: 1rem; }
      .detail .info .detail-info .info-container {
        padding: 15px;
        border: 1px solid #9e1460;
        margin-top: 5px; }

.isSelectedButton {
  background-color: #9e1460;
  color: white; }

.list-products {
  margin-bottom: 15px;
  font-size: 0.9rem; }
  .list-products .item {
    width: 90%;
    height: 21rem;
    margin: 0px auto;
    background-image: url("https://res.cloudinary.com/devsy44f3/image/upload/v1661948903/Products/Ecommerce-Magistral/img/Post_de_Instagram_belleza_manicura_minimalista_rosa_celeste_xmbn1d.png");
    margin-bottom: 10px;
    display: flex;
    justify-content: center;
    position: relative; }
    .list-products .item .img,
    .list-products .item .data {
      height: 100%; }
    .list-products .item .img {
      width: 29%;
      height: 18rem;
      display: flex;
      justify-content: center;
      align-items: center; }
      .list-products .item .img img {
        height: 78%; }
    .list-products .item .data {
      width: 57%;
      margin: 7px 4px; }
      .list-products .item .data ul {
        width: 100%;
        height: 79%;
        margin: 0;
        padding: 0; }
        .list-products .item .data ul li {
          list-style: none;
          width: 100%;
          padding: 7px; }
          .list-products .item .data ul li h2 {
            font-size: 1rem;
            color: #660d6e;
            font-weight: bold;
            text-align: center;
            margin: 0; }
        .list-products .item .data ul .description {
          font-size: 0.9rem;
          height: 84px; }
        .list-products .item .data ul .btn-moreinfo {
          display: flex;
          justify-content: center; }
          .list-products .item .data ul .btn-moreinfo a {
            background-color: #9e1460;
            border: none;
            display: flex;
            justify-content: center;
            align-items: center;
            text-decoration: none;
            color: white;
            width: 7rem;
            height: 2rem;
            border-radius: 4px; }
        .list-products .item .data ul .price-info {
          display: flex;
          align-items: center;
          flex-direction: column;
          margin: 13px 0; }
          .list-products .item .data ul .price-info .price,
          .list-products .item .data ul .price-info .info {
            color: #232025; }
          .list-products .item .data ul .price-info .price {
            font-size: 1.2rem;
            font-weight: bold; }
          .list-products .item .data ul .price-info .info {
            font-size: 0.7rem; }

.grid-products {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 10px;
  width: 94%;
  margin: 15px auto; }
  .grid-products .item {
    width: 100%;
    height: 45rem;
    margin: 0px auto;
    background-image: url("https://res.cloudinary.com/devsy44f3/image/upload/v1661948903/Products/Ecommerce-Magistral/img/Post_de_Instagram_belleza_manicura_minimalista_rosa_celeste_xmbn1d.png");
    margin-bottom: 10px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    position: relative; }
    .grid-products .item .img,
    .grid-products .item .data {
      width: 100%; }
    .grid-products .item .img {
      height: 44%;
      display: flex;
      justify-content: center;
      align-items: center; }
      .grid-products .item .img img {
        height: 100%; }
    .grid-products .item .data {
      height: 45%;
      margin: 7px 4px; }
      .grid-products .item .data ul {
        width: 94%;
        height: 79%;
        margin: 0;
        padding: 0; }
        .grid-products .item .data ul li {
          list-style: none;
          width: 100%;
          padding: 7px; }
          .grid-products .item .data ul li h2 {
            font-size: 0.9rem;
            color: #660d6e;
            font-weight: bold;
            text-align: center;
            margin: 0; }
        .grid-products .item .data ul .description {
          font-size: 0.9rem;
          height: 110px; }
        .grid-products .item .data ul .btn-moreinfo {
          display: flex;
          justify-content: center; }
          .grid-products .item .data ul .btn-moreinfo a {
            background-color: #9e1460;
            border: none;
            color: white;
            width: 7rem;
            height: 2rem;
            border-radius: 4px; }
        .grid-products .item .data ul .price-info {
          display: flex;
          align-items: center;
          flex-direction: column;
          margin: 13px 0; }
          .grid-products .item .data ul .price-info .price,
          .grid-products .item .data ul .price-info .info {
            color: #232025; }
          .grid-products .item .data ul .price-info .price {
            font-size: 1.1rem;
            font-weight: bold; }
          .grid-products .item .data ul .price-info .info {
            font-size: 0.7rem; }
    .grid-products .item .add-cart-container .add-cart {
      width: 93%;
      height: 40px;
      margin: 0px 4%; }
      .grid-products .item .add-cart-container .add-cart .add-cart-btn {
        width: 63%; }
      .grid-products .item .add-cart-container .add-cart .counter {
        width: 34%; }

.bartools {
  width: 100%;
  height: 40px;
  border-top: 1px solid #9e1460;
  border-bottom: 1px solid #9e1460;
  margin: 10px 0;
  display: flex;
  align-items: center;
  position: relative; }
  .bartools .tools,
  .bartools .btn-views {
    height: 100%; }
  .bartools .tools {
    height: 50%;
    width: 65%;
    display: flex;
    margin-left: 15px; }
    .bartools .tools .filter,
    .bartools .tools .sort {
      display: flex; }
      .bartools .tools .filter span,
      .bartools .tools .sort span {
        height: 100%;
        width: 14%;
        display: flex; }
        .bartools .tools .filter span svg,
        .bartools .tools .sort span svg {
          width: 100%;
          height: auto; }
          .bartools .tools .filter span svg .st0,
          .bartools .tools .sort span svg .st0 {
            fill: #9e1460; }
      .bartools .tools .filter h3,
      .bartools .tools .sort h3 {
        width: 70%;
        font-size: 0.9rem;
        margin: 0 0 0 5px;
        color: #9e1460;
        font-weight: bold;
        display: flex;
        align-items: center; }
    .bartools .tools .filter {
      width: 35%; }
      .bartools .tools .filter span {
        width: 30%; }
        .bartools .tools .filter span span {
          width: 100%; }
    .bartools .tools .sort {
      width: 62%; }
      .bartools .tools .sort span svg {
        height: 100%; }
  .bartools .btn-views {
    width: 23%;
    position: absolute;
    right: 13px;
    top: 0;
    display: flex; }
    .bartools .btn-views button {
      width: 50%;
      height: 100%;
      border: none;
      background-color: transparent; }
      .bartools .btn-views button svg {
        width: 60%; }
        .bartools .btn-views button svg .st0 {
          fill: #9e1460; }

.btn1-is-active .btn-grid {
  background-color: #9e1460; }
  .btn1-is-active .btn-grid svg .st0 {
    fill: white; }

.btn1-is-active .btn-list {
  background-color: white; }
  .btn1-is-active .btn-list svg .st0 {
    fill: #9e1460; }

.btn-is-non-active {
  background-color: white; }
  .btn-is-non-active svg .st0 {
    fill: #9e1460; }

.button-add {
  width: 88%;
  height: 36px;
  margin: 0px 6%;
  position: absolute;
  bottom: 8px;
  left: 0;
  right: 0;
  display: flex;
  justify-content: space-between; }
  .button-add .add-cart-btn,
  .button-add .counter {
    height: 100%; }
  .button-add .add-cart-btn {
    width: 100%;
    background-color: #9e1460;
    border: none;
    font-size: 0.7rem;
    color: white;
    border-radius: 4px; }

.route {
  margin: 14px 14px;
  padding: 0; }

.title {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: #660d6e;
  font-weight: bold;
  font-size: 1.2rem; }
